// FONT-FAMILY 1
$standart: 'Old Standard TT', serif;


// FONT-FAMILY 2
$raleway: 'Raleway', sans-serif;



// FONT-SIZES
$xxx__large: 50px;
$xx__large: 30px;
$x__large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x__small: 12px;

